@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@700;800&display=swap');
@import 'theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

html {
  /* max-width: 600px; */
}

body {
  background: #0e0e0e;
  color: whitesmoke;
}
